* {
  margin: 0;
  padding: 0;
}

#all-cities-container {
  min-height: 120px;
  width: 540px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: lightgray;
  padding: 5px 0px;
}

.city-container {
  display: flex;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
}

.city-text-container {
  align-self: center;
  width: 300px;
}

.city-container img, 
.one-day-container img {
  height: 90px;
  width: 90px;
}

.city-name {
  font-size: 30px;
  font-weight: bolder;
}

.state-name {
  font-size: 16px;
}

.celsius {
  align-self: center;
  font-size: 30px;
  width: 100px;
}



/* DETAILED FORECAST */
#detailed-view-container {
  background-color: blanchedalmond;
}

.one-day-container {
  border: 2px solid purple;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  float: left;
}