* {
  margin: 0;
  padding: 0;
}

.city-container {
  display: flex;
  width: 500px;
  background-color: lightblue;
}

.city-text-container {
  align-self: center;
  width: 300px;
}

.city-container img {
  height: 90px;
  width: 90px;
}

.city-name {
  font-size: 30px;
  font-weight: bolder;
}

.state-name {
  font-size: 16px;
}

.celsius {
  align-self: center;
  font-size: 30px;
  width: 100px;
}