* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
}

#main-container {
  display: flex;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.arrow {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow:hover {
  cursor: pointer;
  background-color: aliceblue;
}


  

#main-img-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#active-main-img {
  width: 100%;
  height: 80vh;
}

#main-img-data-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  opacity: 5;
}

#main-img-data-container h2 {
  padding: 2% 3% 1% 3%;
  color: aliceblue;
}
#main-img-data-container p {
  padding: 0% 3% 2% 3%;
  color: gainsboro;
}



/* Thumbnails */
#thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}


#thumbnail-container div > img {
  width: 100px;
  height: 100px;
  margin: 0px 5px 0px 5px;
  border: 4px solid aliceblue;
  box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

#thumbnail-container div > img:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

#middle-thumbnail {
  transform: scale(1.2, 1.2);
}