* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
}

#main-container {
  display: flex;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.arrow {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: gainsboro;
  border: none;
}

button:hover {
  cursor: pointer;
}
  

#main-img-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#active-main-img {
  width: 100%;
  height: 80vh;
}

#main-img-data-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  opacity: 5;
}

#main-img-data-container h2 {
  padding: 2% 3% 1% 3%;
  color: aliceblue;
}
#main-img-data-container p {
  padding: 0% 3% 2% 3%;
  color: gainsboro;
}