<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Cocktails</h1>
    <ul>
      <li>all</li>
      <% for (let i = 0; i < alcoholList.length; i++) { %>
        <li><%= alcoholList[i] %></li>
      <% } %>
    </ul>

    <div>
      <% for (let i = 0; i < cocktails.length; i++) { %>
      <div>
        <div>
            <h4><%= cocktails[i].name %></h4>
            <p><%= cocktails[i].contains %></p>
        </div>
        <p><%= cocktails[i].price %> Ft</p>
      </div>
      <% } %>

    </div>
  </body>
</html>